* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h5 {
	font-size: 100px;
	text-align: center;
	color: fuchsia;
}

input {
	position: absolute;
    left: 33%;
    width: 30%;
    text-align: -webkit-center;

}

.inputContainer {
	position: relative

}

.suggestionsBox {
	position: absolute;
	border: solid 1px black;
	left: 33%;
	top: 10%;
	width: 30%;

}